Options -MultiViews -Indexes
RewriteEngine On
RewriteRule ^\.  - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
php_flag display_errors Off
php_value upload_max_filesize 10M
php_value post_max_size 12M
